{% extends 'base.html' %}

{% block tables %}
    {% set tables = ['class', 'schedule', 'student', 'student_in_class', 'timepair', 'subject', 'teacher'] %} <!-- Вставьте ваши таблицы здесь -->
{% endblock tables %}

{% block content %}
<h1>Добавление записи в таблицу: {{ table_name }}</h1>

<form method="post">
    {% for column in columns %}
        <div class="form-group">
            <label for="{{ column }}">{{ column }}</label>
            <input type="text" class="form-control" id="{{ column }}" name="{{ column }}" required>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}