{% extends 'base.html' %}

{% block content %}
<h1>Выполнение SQL-запроса</h1>
<form method="post" action="/execute_query">
    <textarea name="query" rows="10" cols="50" required placeholder="Введите ваш SQL-запрос здесь..."></textarea><br>
    <button type="submit">Запустить запрос</button>
</form>
<div class="col-md-9 content-container">
    <div class="result-container" id="result-container">
        {% if results and columns %}
            <h2>Результаты запроса:</h2>
            <table class="table">
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th>{{ column_translations.get(column, column) }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in results %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Результаты отсутствуют.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block sidecontent %}
<div class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <ul class="list-group">
                <h3>Доступные таблицы</h3>
                <li class="list-group-item"><a href="/table/class">Классы</a></li>
                <li class="list-group-item"><a href="/table/schedule">Расписание</a></li>
                <li class="list-group-item"><a href="/table/student">Студенты</a></li>
                <li class="list-group-item"><a href="/table/student_in_class">Студенты в классах</a></li>
                <li class="list-group-item"><a href="/table/timepair">Пары</a></li>
                <li class="list-group-item"><a href="/table/subject">Предметы</a></li>
                <li class="list-group-item"><a href="/table/teacher">Преподаватели</a></li>
            </ul>
            <div class="list-group">
                <h4>Управление данными</h4>
                <li class="list-group-item"><a href="{{ url_for('search') }}">Поиск записи</a></li>
                <li class="list-group-item"><a href="{{ url_for('index') }}">На главную страницу</a></li>
            </div>
        </div>
    </div>
</div>
{% endblock %}