{% extends 'base.html' %}

{% block content %}
<h1>Available Tables</h1>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <ul class="list-group">
                <h3>Доступные таблицы</h3>
                <li class="list-group-item"><a href="/table/class">Классы</a></li>
                <li class="list-group-item"><a href="/table/schedule">Расписание</a></li>
                <li class="list-group-item"><a href="/table/student">Студенты</a></li>
                <li class="list-group-item"><a href="/table/student_in_class">Студенты в классах</a></li>
                <li class="list-group-item"><a href="/table/timepair">Пары</a></li>
                <li class="list-group-item"><a href="/table/subject">Предметы</a></li>
                <li class="list-group-item"><a href="/table/teacher">Преподаватели</a></li>
            </ul>
            <div class="list-group">
                <h4>Управление данными</h4>
                <li class="list-group-item"><a href="{{ url_for('execute_query') }}">Выполнить SQL-запрос</a></li>
                <li class="list-group-item"><a href="{{ url_for('search') }}">Поиск записи</a></li>
            </div>
        </div>
        <div class="col-md-9 content-container">
            {% block insidecontent %}
                <h2>Добро пожаловать, администратор!</h2>
                <p>Вы можете управлять данными и просматривать полное расписание.</p>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
