{% extends 'base_no_sidebar.html' %}

{% block content %}
<h2>Регистрация</h2>
<form method="POST">
    <div class="form-group">
        <label for="full_name">Полное имя:</label>
        <input type="text" class="form-control" id="full_name" name="full_name" required>
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="user_type">Тип пользователя:</label>
        <select class="form-control" id="user_type" name="user_type" required>
            <option value="student">Студент</option>
            <option value="teacher">Преподаватель</option>
        </select>
    </div>
    <div class="form-group" id="group_select" style="display: none;">
        <label for="group_id">Группа:</label>
        <select class="form-control" id="group_id" name="group_id">
            {% for group_id, group_name in groups %}
                <option value="{{ group_id }}">{{ group_name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>

<script>
    document.getElementById('user_type').addEventListener('change', function() {
        var groupSelect = document.getElementById('group_select');
        if (this.value === 'student') {
            groupSelect.style.display = 'block';
        } else {
            groupSelect.style.display = 'none';
        }
    });
</script>
{% endblock %}

