{% extends 'base.html' %}

{% block sidecontent %}
{% endblock sidecontent %}


{% block insidecontent %}
<div class="container-fluid">  <!-- Используем container-fluid для растяжения на всю ширину -->
</div>
<div class="row justify-content-center">
    <div class="col-md-8">  <!-- Увеличиваем ширину колонки -->
        <h1 class="mt-4">Регистрация</h1>
        <form method="POST">
            <div class="form-group">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" required class="form-control" style="width: 100%;">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required class="form-control" style="width: 100%;">
            </div>
            <div class="form-group">
                <label for="role">Роль:</label>
                <select id="role" name="role" required class="form-control" style="width: 100%;">
                    <option value="teacher">Преподаватель</option>
                    <option value="student">Студент</option>
                    <option value="admin">Админ</option>
                </select>
            </div>
            <div class="form-group" id="class_id_container" style="display: none;">
                <label for="class_id">Группа:</label>
                <select id="class_id" name="class_id" class="form-control" style="width: 100%;">
                    {% for group in groups %}
                        <option value="{{ group[0] }}">{{ group[1] }}</option>  <!-- Изменено на group[0] и group[1] -->
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%;">Зарегистрироваться</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('role').addEventListener('change', function() {
        var classIdContainer = document.getElementById('class_id_container');
        if (this.value === 'student') {
            classIdContainer.style.display = 'block';
        } else {
            classIdContainer.style.display = 'none';
        }
    });
</script>
{% endblock %}

