{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <ul class="list-group">
                    <h3>Доступные таблицы</h3>
                    <li class="list-group-item"><a href="/table/class">Классы</a></li>
                    <li class="list-group-item"><a href="/table/schedule">Расписание</a></li>
                    <li class="list-group-item"><a href="/table/student">Студенты</a></li>
                    <li class="list-group-item"><a href="/table/student_in_class">Студенты в классах</a></li>
                    <li class="list-group-item"><a href="/table/timepair">Пары</a></li>
                    <li class="list-group-item"><a href="/table/subject">Предметы</a></li>
                    <li class="list-group-item"><a href="/table/teacher">Преподаватели</a></li>
                </ul>
                <div class="list-group">
                    <h4>Управление данными</h4>
                    <li class="list-group-item"><a href="{{ url_for('execute_query') }}">Выполнить SQL-запрос</a></li>
                    <h4>Предварительный просмотр</h4>
                    <li class="list-group-item"><a href="{{ url_for('generate_schedule') }}">Просмотреть расписание</a></li>
                </div>
            </div>
            <div class="col-md-9 content-container">
                <h2>Расписание</h2>
                <table class="table">
                    <thead>
                        <tr>
                            {% for column in columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}