{% extends 'base.html' %}

{% block content %}
<div class="col-md-9 content-container">
    <h2>Таблица: {{ table_name }}</h2>
    <a href="{{ url_for('add_record', table_name=table_name) }}" class="btn btn-primary mb-3">Добавить запись</a>
    <table class="table">
        <thead>
            <tr>
                {% for column in translated_columns %}
                    <th>{{ column }}</th>
                {% endfor %}
                <th>Действия</th> <!-- Добавляем колонку для действий -->
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('edit_record', table_name=table_name, record_id=row[0]) }}" class="btn btn-warning btn-sm">Редактировать</a>
                        <a href="{{ url_for('confirm_delete', table_name=table_name, record_id=row[0]) }}" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- Пагинация -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('table_data', table_name=table_name, page=page-1) }}">&laquo; Предыдущая</a>
                </li>
            {% endif %}
            
            {% for p in range(max(1, page-2), min(total_pages+1, page+3)) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('table_data', table_name=table_name, page=p) }}">{{ p }}</a>
                </li>
            {% endfor %}
            
            {% if page < total_pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('table_data', table_name=table_name, page=page+1) }}">Следующая &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}