{% extends 'base.html' %}

{% block content %}
<div class="col-md-9 content-container">
    <h2>Таблица: {{ table_name }}</h2>
    <a href="{{ url_for('add_record', table_name=table_name) }}" class="btn btn-primary mb-3">Добавить запись</a>
    <table class="table">
        <thead>
            <tr>
                {% for column in translated_columns %}
                    <th>{{ column }}</th>
                {% endfor %}
                <th>Действия</th> <!-- Добавляем колонку для действий -->
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('edit_record', table_name=table_name, record_id=row[0]) }}" class="btn btn-warning btn-sm">Редактировать</a>
                        <a href="{{ url_for('confirm_delete', table_name=table_name, record_id=row[0]) }}" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}