<!-- templates/table_data.html -->
{% extends 'base.html' %}

{% block tables %}
    {% set tables = ['class', 'schedule', 'student', 'student_in_class', 'timepair', 'subject', 'teacher'] %} <!-- Вставьте ваши таблицы здесь -->
{% endblock tables %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <ul class="list-group">
                <h3>Доступные таблицы</h3>
                {% for table in tables %}
                    <li class="list-group-item"><a href="{{ url_for('table_data', table_name=table) }}">{{ table }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9 content-container">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
    <h2>Таблица: {{ table_name }}</h2>
    <table class="table">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
